.header {
    align-items: center;
    text-align: center;
}

a {
    font-size: 24px;
}

.title {
    background-color: #ffeebb;
    padding: 10px;
}

.info {
    text-align: left;
    margin-left: 12%;
}

.header h1 {
    padding: 0;
    margin: 0;
}

.gdicon {
    position: absolute;
    align-items: center;
    text-align: center;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.milkshake {
    position: absolute;
    right: 0;
    top: 10%;
}

.media {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10%;
    padding: 1%;
}

.media img:hover,
.gaming img:hover {
    scale: 1.1;
}

.gaming {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10%;
    padding: 1%;
}

.contents {
    position: absolute;
    top: 0;
    background-color: #fdf;
    border-right: 30px double #fff;
    margin-top: 10px;
    width: 10%;
    height: 100vh;
    text-align: left;
    overflow: visible;
}

.media img,
.gaming img {
    height: 30px;
    border-radius: 5px;
}
