body {
    text-align: center;
    background-color: #000000;
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial;
}

* {
    color: #ffffff;
}

.card {
    position: relative;
    border-radius: 5px;
    height: 180px; /* hardcoding cuz im stupid - this this thumbnail height*/
    color: black;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center;
    filter: blur(40px) brightness(0.5);
    transform: scale(1.1);
    z-index: -1;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center;
    filter: blur(40px) brightness(2);

    padding: 5px;

    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);

    mask-composite: exclude;
    -webkit-mask-composite: xor;
    pointer-events: none;
    z-index: 1;
}

.card > * {
    position: relative;
    z-index: 2;
}

.card:hover {
    scale: 1.05;
}

.upperDetails {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1%;
    padding: 0 2% 0 2%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 12px;
}

#date {
    text-align: right;
}

.details {
    width: 40vw;
    display: grid;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 2%;
    align-items: center;
    text-align: center;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nlwText {
    position: relative;
    margin-bottom: 6%;
    line-height: 1.2;
}

.aem,
.gddl,
.enj,
.attempts,
.wf,
.peak,
.peakList {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.nlw {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    align-items: center;
    text-align: center;
}
